.AnnounceDetail_background {
  background-image: url("../images/wave_top.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.AnnounceDetail_general {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.AnnounceDetail_jobtitle {
  margin: 4%;
  padding: 4%;
  border: 1px solid var(--second-grey);
  border-radius: 5px;
  background-color: #fff;
}

.AnnounceDetail_title {
  font-family: var(--primary-font);
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.AnnounceDetail_bref {
  font-family: var(--primary-font);
  font-size: 12px;
  color: #a9a9a9;
  margin-bottom: 1rem;
}

.AnnounceDetail_jobtitle ul {
  font-family: var(--primary-font);
  display: flex;
  flex-wrap: wrap;
  width: 18rem;
  gap: 10px;
}

.AnnounceDetail_jobtitle ul li {
  background-color: var(--first-grey);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  border-radius: 5px;
}

.AnnounceDetail_announcesection_button {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.AnnounceDetail_postuler_button,
.AnnounceDetail_spontanée_button {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.AnnounceDetail_postuler_button {
  background-color: var(--secondary-color);
  color: #fff;
}

.AnnounceDetail_spontanée_button {
  background-color: #fff;
  border: 1px solid #000;
}

.AnnounceDetail_post {
  margin: 4%;
  border: 1px solid var(--second-grey);
  border-radius: 5px;
  font-family: var(--primary-font);
}

.AnnouceDetail_subtitle {
  background-color: var(--first-grey);

  padding: 10px;
  margin-bottom: 10px;
}

.AnnounceDetail_post ul li {
  padding: 20px;
  margin-bottom: 10px;
}

.CompanyDetail_description {
  margin: 4%;
  border: 1px solid var(--second-grey);
  border-radius: 5px;
  font-family: var(--primary-font);
}

.CompanyDetail_title {
  background-color: var(--first-grey);
  padding: 10px;
  margin-bottom: 10px;
}

.CompanyDetail_texte {
  padding: 20px;
  margin-bottom: 10px;
}

.Announcedetail_company_more {
  margin: 6%;
  display: flex;
  flex-direction: column;
  width: 88%;
  height: 70vh;
  font-family: var(--primary-font);
}

.Announcedetail_company_more img {
  width: 100%;
  height: 45%;
}

.Announcedetail_company_more div {
  width: 100%;
  height: 65%;
  background-color: var(--secondary-color);
  padding: 20px;
}

.Announcedetail_quote {
  color: #fff;
  font-size: 1.6rem;
}

.Announcedetail_quote_suit {
  color: #fff;
  font-size: 1.6rem;
}

.Announcedetail_4_texte {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.AnnounceDetail_morecompanydescription_button {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.AnnounceDetail_discover_button,
.AnnounceDetail_spontanée_button {
  display: flex;
  width: 100%;
  max-width: 150px;
  height: 75px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.AnnounceDetail_discover_button {
  background-color: #000;
  color: #fff;
}

.AnnounceDetail_spontanée_button {
  background-color: #fff;
  border: 1px solid #000;
}

.Announcedetail_company_more div {
  height: auto;
}

@media (min-width: 992px) {
  .AnnounceDetail_general {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 2rem;
    padding: 4rem;
  }

  .AnnounceDetail_jobtitle {
    background-color: #fff;
  }

  .AnnounceDetail_title {
    font-size: 2.5rem;
  }

  .AnnounceDetail_bref {
    font-size: 1.2rem;
  }

  .AnnounceDetail_jobtitle ul {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-right: 1rem;
    padding-top: 2rem;
    margin-top: 1rem;
  }

  .AnnounceDetail_jobtitle ul li {
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    width: auto;
    font-size: 1.3rem;
  }

  .AnnounceDetail_announcesection_button {
    display: flex;
    gap: 4rem;
    margin-top: 8rem;
    justify-content: flex-start;
  }

  .AnnounceDetail_jobtitle,
  .AnnounceDetail_post,
  .CompanyDetail_description,
  .Announcedetail_company_more {
    margin: 0;
    width: 100%;
    height: auto;
    font-size: 1.3rem;
  }

  .AnnounceDetail_morecompanydescription_button {
    display: flex;
    justify-content: flex-start;
  }

  .AnnounceDetail_jobtitle {
    order: 1;
  }

  .Announcedetail_company_more {
    order: 2;
  }

  .AnnounceDetail_post {
    order: 3;
  }

  .CompanyDetail_description {
    order: 4;
  }

  .Announcedetail_company_more img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .Announcedetail_company_more div {
    height: auto;
  }
}
