.Container_Answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.Container_Answer > div > .Card_Answer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: large;
  gap: 0.5rem;
}
.Container_Answer > div > .Card_Answer > .Job_Title {
  font-weight: bold;
  font-size: large;
  color: var(--primary-color);
}

@media (min-width: 993px) {
  .Container_Answer > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2rem;
  }
}
