/* body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.keen-slider__slide {
  height: 20rem;
  width: auto;
}

.number-slide1 {
  background: rgb(64, 175, 255);
}

.number-slide2 {
  background: rgb(255, 75, 64);
}

.number-slide3 {
  background: rgb(182, 255, 64);
}

.number-slide4 {
  background: rgb(64, 255, 242);
}

.number-slide5 {
  background: rgb(255, 64, 156);
}
.number-slide6 {
  background: rgb(64, 76, 255);
}
