.NavBar {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: var(--third-color);
}

.NavBar ul > li {
  list-style: none;
}

.NavBar a {
  text-decoration: none;
  color: var(--third-color);
}

nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  z-index: 99;
}

nav > article > .Brand_Title > .Tech_Style {
  color: var(--secondary-color);
  font-weight: 900;
}

nav > .Brand_Nav > .User_Actions > .Login_Link {
  background-color: var(--secondary-color);
  font-weight: bold;
  padding: 0.3rem 0.8rem;
  border-radius: 0.5rem;
  margin-left: 5%;
  width: 10rem;
  text-align: center;
}

.Register_Link {
  width: 10rem;
}

nav > .Brand_Nav > .User_Actions > .Login_Link > a {
  color: var(--primary-color);
}
nav > .Nav_Burger {
  position: sticky;
  background-color: var(--primary-color);
  border: 0.5rem solid var(--primary-color);
  right: 0;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
nav > .Nav_Burger > .Burger_Bar {
  width: 2rem;
  height: 0.3rem;
  background-color: var(--third-color);
  border-radius: 0.5rem;
}
nav > .Nav_Burger > .Second {
  background-color: var(--secondary-color);
}

/*** mobile **/

@media (max-width: 992px) {
  nav {
    width: 100%;
    padding: 1rem;
  }
  nav > .Desktop {
    display: none;
  }
  nav > .Nav_Link > ul > .Logo {
    display: none;
  }
  nav > .Brand_Nav > ul > .Register_Link {
    display: none;
  }

  nav > .Nav_Link > ul {
    position: absolute;
    top: 4rem;
    left: 0;
    background-color: #d9d9d9;
    height: calc(100vh - 4rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: -100%;
    transition: 0.5s;
    z-index: 10;
  }

  nav > .Nav_Link > .Active {
    margin-left: 0;
  }

  nav > .Nav_Link > ul > li > a {
    color: var(--primary-color);
    font-weight: 700;
  }

  .Nav_Burger span.Burger_Bar.Clicked:nth-child(1) {
    transform: rotate(45deg) translate(0.5rem, 1rem);
    transition: ease-out 0.5s;
  }
  .Nav_Burger span.Burger_Bar.Clicked:nth-child(2) {
    transform: scale(0.1);
    transition: ease-out 0.5s;
  }

  .Nav_Burger span.Burger_Bar.Clicked:nth-child(3) {
    transform: rotate(135deg) translate(-0.1rem, 0.75rem);
  }
  nav > .Brand_Nav > .User_Actions > .Login_Link {
    width: 7rem;
  }
}

/*** desktop **/

@media (min-width: 993px) {
  nav {
    flex-direction: row-reverse;
    gap: 1rem;
    padding: 0 1rem;
  }

  nav > .Mobile {
    display: none;
  }

  nav .Brand_Nav > ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav > .Nav_Link > ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav > .Nav_Link > ul > .Logo > a > img {
    height: auto;
    width: 4rem;
  }

  nav > .Nav_Burger {
    display: none;
  }
}
